MACOSX_DEPLOYMENT_TARGET = 27.0
ARCHS = arm64
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_EMIT_LOC_STRINGS = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = -
CODE_SIGN_ENTITLEMENTS = Configuration/Aero.entitlements
PRODUCT_BUNDLE_IDENTIFIER = app.getaero.browser
PRODUCT_NAME = Aero
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Configuration/Info.plist
ENABLE_HARDENED_RUNTIME = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
